<div class="container" appShadow>
  <div class="image-container">
    <img src="{{ product.thumbnail }}" alt="product image" appZoomImage />
  </div>
  <div class="info-container">
    <h3 class="title">{{ product.title }}</h3>
    <p class="description" (click)="toggleDescription()">
      {{ isExpanded ? product.description : (product.description | shorten) }}
    </p>
    <div class="numbers-container">
      <p class="price">{{ product.price }}</p>
      <p class="stock" [ngStyle]="{ color: product.stock > 0 ? 'green' : 'red' }">
        @if (product.stock > 0) {
          {{ product.stock }} remaining
        } @else {
          out of stock
        }
      </p>
    </div>
    <div class="buttons-container">
      <a class="details-button" [routerLink]="['/products', product.id]">details</a>
      @switch (renderFor) {
        @case ('view') {
          <app-buy-button
            (buttonClicked)="buyProduct()"
            [buttonText]="'Buy'"
            [buttonColor]="'green'"
            [isActive]="product.stock > 0"
          ></app-buy-button>
        }
        @case ('edit') {
          <app-buy-button
            (buttonClicked)="updateProduct()"
            [buttonText]="'Edit'"
            [buttonColor]="'blue'"
            [isActive]="true"
          ></app-buy-button>
        }
        @case ('delete') {
          <app-buy-button
            (buttonClicked)="deleteProduct()"
            [buttonText]="'Delete'"
            [buttonColor]="'red'"
            [isActive]="true"
          ></app-buy-button>
        }
      }
    </div>
  </div>
</div>
